:root {
    --toeter-primary: #873720;
    --toeter-primary-variant: #be4d2c;

    --toeter-secondary: #424346;
    --toeter-secondary-variant: #444548;

    --toeter-green: #bdc6b5;
    --toeter-green-variant: #a7b49c;

    --toeter-dark-green: #525E54;
    --toeter-dark-green-variant: #d17b63;

    --toeter-bg-main: #ebe7e4;
    --toeter-bg-footer: #525e54;
}

@font-face{
    font-family: Amatic SC;
    src: url(/style/fonts/AmaticSC-Regular.ttf);
}
    
@font-face{
    font-family: Century Gothic;
    src: url(/style/fonts/centurygothic.ttf);
}
    
@font-face{
    font-family: Reey regular;
    src: url(/style/fonts/Reey-Regular.otf);
}

@font-face{
    font-family: Vidaloka;
    src: url(/style/fonts/Vidaloka-Regular.ttf);
}

p{
    line-height: 1.6em;
}

.txt-light{
    color: #fff !important;
}

.txt-dark{
    color: var(--toeter-secondary) !important;
}

.txt-primary{
    color: var(--toeter-primary) !important;
}

.txt-small{
    font-size: 0.9em !important;
}

.fw-700{
    font-weight: 700;
}


.amatic{
    font-family: Amatic SC;
}
    
.gothic{
    font-family: Century Gothic;
}

.reey{
    font-family: Reey regular;
}

.vidaloka{
    font-family: Vidaloka;
}

.btn{
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    font-family: Amatic SC;
}

.btn-primary{
    background-color: var(--toeter-primary);
    border-style:none;
}

.btn-primary:hover{
    background-color: var(--toeter-primary-variant);
}





.bg-main{
    background-color: var(--toeter-bg-main);
}

.bg-primary{
    background-color: var(--toeter-primary) !important;
}

.bg-green{
    background-color: var(--toeter-dark-green);
}

.header-logo{
    height: 189px;
}

.navbar-toggler{
    border-color: transparent;
    
}

.navbar-toggler-button > svg{
    stroke: #9a9a9a;
}
.navbar-toggler-button:hover > svg{
    stroke: #ffffff;
}

.nav-item > a{
    color: #fff !important;
    font-family: Amatic SC;
    font-size: 1.6em;
}

.img-header{
    object-fit: cover;
    width: 100%;
    height: 540px
}

.page-label-background{
    background-image: linear-gradient(to right, var(--toeter-green),var(--toeter-green),var(--toeter-green), var(--toeter-bg-main), var(--toeter-bg-main), var(--toeter-bg-main));
}

.bg-layer{
    z-index: -1;
}

.page-label{
    background-color: var(--toeter-green);
    border-color: var(--toeter-dark-green);
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-bottom-style: solid;
}

.page-label-end{
    background-color: var(--toeter-green);
    border-color: var(--toeter-dark-green);
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-top-width: 2px ;
    border-bottom-width: 2px ;
    border-right-width: 2px ;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
}



.toeter-carousel-card{
    min-height: 20em;
    background-color: var(--toeter-green);
}
.toeter-carousel{
    min-height: 20em;
    background-color: var(--toeter-green);
    border-color: var(--toeter-dark-green);
    border-style: solid;
    border-width: 2px
}

.carousel-control-prev{
    justify-content: start;
    margin: 8px;
}
.carousel-control-next{
    justify-content: end;
    margin: 8px;
}
.carousel-control-next-icon{
    background-image: url(/res/svgs/arrow-right-circle.svg);
}
.carousel-control-prev-icon{
    background-image: url(/res/svgs/arrow-left-circle.svg);
}

svg.carousel-control{
    stroke: #e3e3e3;
}


.carousel-control:hover > svg{
    stroke: #fff !important;
    text-shadow: 2px 2px 5px var(--toeter-secondary);
}


.toeter-ster{
    width: 150px
}

.ttr-star{
    max-width: 220px;
}


.footer-index-link > a{
    font-family: Century Gothic;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}




@media only screen and (max-width: 768px) {
    .page-label-end{
        border-style: none;
        border-radius: 0;
        border-right-width: 0;
    }
    
    .page-label-background{
        background-color: var(--toeter-green);
        background-image: none;
        border-top-color: var(--toeter-dark-green);
        border-top-width: 2px;
        border-top-style: solid;
        border-bottom-color: var(--toeter-dark-green);
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
    
    .ttr-shoot-star {
        max-width: 180px;
    }
    
    .ttr-star{
        max-width: 120px;
        align-self: center;
    }
    
}


